.contact .contact-phone-number {
    color: var(--titel-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    transition: color var(--transition-dur-and-func);

}

.contact .contact-phone-number:hover,
.contact .contact-phone-number:focus {
    color: var(--accent-color);
}

.contact-phone-number {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
}

.mail-list-item-link {
    fill: var(--titel-text-color);
}

.contact-icon {
    fill: currentColor;
}